.main-content{
    background-color: #5356ad;
    height: 90%;
}

.signUp-content{
    background-color: #999ede;
    position: absolute;
    width: 62%;
    padding: 10em 0;
    left: 17%;
    top: 26%;
    z-index: 1;
    text-align: center;
}

.logIn-content{
    background-color: #fff;
    position: absolute;
    padding: 10.5em 4em;
    left: 20%;
    top: 20%;
    width: 30%;
    z-index: 2;
}

.col-sm-6 h2{
    color: #fcfcfe;
}

.navbar-inverse{
    border-radius: 0;
    margin: 0;
}