<% include partials/LayoutHeader %>
<% include partials/Navbar %>
        <div class="main-content">
            <div class="signUp-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Don't have an account?</h3>
                        <button type="button" class="btn signUp-button">Sign up</button>
                    </div>
                </div>
            </div>
            <div class="logIn-content">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/authenticateUser" method="post">
                            <div class="form-group">
                                <label for="email"></label>
                                <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="pwd"></label>
                                <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
                            </div>
                            <button type="submit" class="btn btn-md btn-default logIn-button">Log In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<% include partials/LayoutFooter %>