<% include partials/LayoutHeader %>
<% include partials/Navbar %>
<div class="wrap">
    <div class="item">
        <div class="ui main text ">
            <div class="ui huge header">Login !</div>
            <form class="ui form" action="/login" method="POST">
                <div class="field">
                    <input type="text" placeholder="User Name" name="username">
                </div>
                <div class="field">
                    <input type="password" placeholder="password" name="password">
                </div>

                <input class="ui violet big basic button" type="submit">
            </form>
        </div>
    </div>
</div>
<% include partials/LayoutFooter %>