/*================*/
/*Login Styles*/
/*================*/
.wrap{
    height: 80%;
    display: flex;
    justify-content: center;
}

.item{
    width: 30%;
    /*flex-basis: auto;*/
    align-self: center;
}

.field{
    /*width: 40%;*/
}