    <footer class="ui footer segment">
        <div class="ui grid">
            <div class="four wide column">
                <p>Copyright &copy</p>
            </div>
            <div class="eight wide column">
                <div class="ui three item menu">
                    <a class="active item">Contact Us</a>
                    <a class="item">Privacy Policy</a>
                    <a class="item">About</a>
                </div>
            </div>
            <div class="four wide column">
                <button class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
                <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
